$dark-blue: #0b406b;
$light-blue: #199ad6;
$exo: 'Exo 2', sans-serif;
$open-sans: 'Open Sans', sans-serif;




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $open-sans;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}




header {
  text-align: right;
  position: relative;
  padding: 43px 40px;
  color: $dark-blue;
  font-size: 14px;
  .logo {
    height: 86px;
    width: 282px;
    position: absolute;
    top: 0;
    left: 27px;
    bottom: 0;
    margin: auto;
    //need a 2x asset for retina displays here...
    background: url(../res/d2d.png);
    background-size: contain;
  }
  .signout {
    margin-left: 28px;
    background: #e9e9e9;
    border-radius: 7px;
    border: 1px solid #d9d9d9;
    padding: 8px 12px;
    color: #999999;
    font-family: $exo;
    font-weight:700;
    cursor: pointer;
    transition: all .2s ease;
    &:hover {
      background: #e1e1e1;
    }
    .fa {
      vertical-align: middle;
      font-size: 20px;
    }
  }
}


.tabs {
  border-top: 6px solid $dark-blue;
  margin: 0 auto;
  height: 100%;
  position: relative;
  width: 100%;;
  float: left;
  font-family: $exo;
  font-weight: 300;
  height: 1100px;
    > .tab-content {
      padding-top: 43px;
      display: inline;
      width: 100%;
      height: 100%;
      float: left;
      position: relative;
      background: $light-blue;
      .tab {
        .tab-label {
          display: block;
          width: 200px;
          padding: 20px 26px;
          background: $light-blue;
          margin-left: -1px;
          position: relative;
          left: 1px;
          color: #fff;
          transition: all 0.35s ease;
          font-size: 14px;
          font-weight: 700;
          position: relative;
          border-bottom: 1px solid #5dbeec;
          .fa {
            margin-right: 3px;
            font-size: 17px;
          }
        }
        .tab-label:hover {
          cursor: pointer;
          background-color: $dark-blue;
        }
        .content {
          position: absolute;
          left: 200px;
          top: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          color: #000000;
          box-shadow: inset 6px 0 9px -7px rgba(0,0,0,0.7);
          .tab-header {
            background: #eaf2f6;
            border-bottom: 1px solid #cccccc;
            padding: 12px 35px;
            color: $dark-blue;
            font-size: 16px;
            font-weight: 600;
            box-shadow: inset 6px 0 9px -7px rgba(0,0,0,0.7);
            .mobile-menu {
              position: absolute;
              right: 10px;
              top: 10px;
              display: none;
            }
          }
          .tab-main {
            padding: 40px 40px 0 34px;
            font-family: $exo;
            font-weight: 600;
            font-size: 32px;
            color: #333333;
            .title {
              position: relative;
              .green-button {
                font-size: 18px;
                font-weight: 600;
                font-family: $exo;
                background: #43b145;
                color: #fff;
                padding: 12px 18px;
                border-radius: 5px;
                box-shadow: inset 0 -3px rgba(0, 0, 0, .20);
                position: absolute;
                right: 0;
                bottom: 0;
                cursor: pointer;
                transition: all .2s ease;
                .fa {
                  color: #f4f3f3;
                  font-size: 20px;
                }
                &:hover {
                  background: #40a942;
                }
                &:active {
                  box-shadow: none;
                }
              }
            }
            .inner {
              font-size: 14px;
              font-family: $open-sans;
              margin-top: 15px;
              border-top: 1px solid #cccccc;
              padding-top: 12px;
            }
          }
        }
        [type=radio] {
          display: none;
        }
        [type=radio]:checked + label {
          background: $dark-blue;
          z-index: 2;
          color: white;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            height: 14px;
            width: 14px;
            background: $dark-blue;
            right: -6px;
            -sand-transform: rotate(45deg);
            -webkit-transform: rotate(45deg); 
            -moz-transform: rotate(45deg);  
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
          }
        }
        [type=radio]:checked + label + .content {
          z-index: 1;
        }
      }
      .footer {
        color: #09334f;
        position: absolute;
        margin: auto;
        bottom: 10px;
        left: 56.5px;
        font-size: 10px;
        font-family: $open-sans;
        text-align: center;
        .stamp {
          //need a 2x asset for retina displays here...
          background: url(../res/degc.png);
          background-size: contain;
          height: 173px;
          width: 87px;
          margin: 10px 0 14px 0;
        }
      }
    }
}




#tab-1 + .tab-label {
  border-top: 1px solid #5dbeec;
}
.tab1 {
  .input-row {
    display: none;
    margin-top: 20px;
    .input {
      position: relative;
      display: inline-block;
      margin-top: 0;
      margin-right: 20px;
      input {
        border:none;
        border-bottom: 1px solid #cccccc;
        outline: none;
        padding: 7px 0px;
      }
      label {
        font-size: 11px;
        font-family: $exo;
        font-weight: 700;
        position: absolute;
        top:17px;
        transition: all .2s ease;
        text-transform: uppercase;
        color: #bfbfbf;
        pointer-events: none;
      }
    }
    .input-active {
      label {
        top: 5px;
        font-size: 9px;
      }
    }
    button {
      -webkit-appearance: none !important;
      outline: none;
      border: none;
      background: white;
      font-size: 20px;
      color: #535353;
      cursor: pointer;
    }
    .disabled {
      color: #bfbfbf;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  .inner {
    font-size: 14px;
  }
}













.dataTable {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e8e7e7 !important;
  margin-top: 20px;
  thead {
    background: #d2d3d3;
    text-align: left;
    font-family: $exo;
    th {
      padding: 14px 14px !important;
      font-size: 16px !important;
      border-bottom: none !important;
    }
    .border {
      border-right: 1px solid #b2b3b3;
    }
  }
  tbody {
    td {
      font-weight: 400;
      font-size: 14px;
      padding: 14px 14px !important;
    }
    .sorting_1 {
      color: #199ad6;
      font-weight: 700 !important;
    }
  }
}
#buyers_wrapper {
  position: relative;
}
.dataTables_paginate span {
  display: none !important;
}
.dataTables_info {
  padding-top: 0 !important;
  float: none;
  margin-right: 20px;
  font-family: $open-sans;
  font-weight: 400;
  font-size: 14px;
  color: #999999 !important;
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 13px;
}
.dataTables_length {
  background: #e9e9e9;
  border-radius: 5px;
  float: none;
  padding: 7px 25px 9px 13px;
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 12px;
  color: #666666 !important;
  box-shadow: inset 0 -2px rgba(0, 0, 0, .1);
  position: relative;
  font-weight: 400;
  select {
    text-align: center;
    -webkit-appearance: none; 
    box-shadow: none !important;
    border: none;
    padding: 0;
    background: none;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: $open-sans;
    outline: none;
    cursor: pointer;
  }
  &:after {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666666;
    bottom: 15px;
    right: 10px;
  }
}
#page-count {
  float: none;
  display: inline-block;
  position: absolute;
  right: 150px;
  color: #999999 !important;
  top: 7px;
  font-weight: 400;
}
.dataTables_paginate {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  padding-top: 0 !important;
  float: none !important;
  text-align: inherit;
  position: absolute;
  right: 0px;
  top: 9px;
  font-family: $exo;
  .paginate_button {
    padding: 0 !important;
    min-width: auto !important;
    margin-left: 0 !important;
    border-radius: 0!important;
    display: inline !important;
    border: none !important;
    outline: none !important;
    &:hover {
      border: none !important;
      color: red !important;
    }
    &:active {
      box-shadow: none !important;
      box-shadow: inset 0 -2px rgba(0, 0, 0, .1) !important;
    }
  }
  #buyers_previous {
    background: #e9e9e9;
    padding: 9px 13px 9px 20px !important;
    border-right: 1px solid #cccccc !important;
    border-radius: 5px 0 0 5px !important;
    box-shadow: inset 0 -2px rgba(0, 0, 0, .1);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent; 
      border-right:5px solid #666666; 
      bottom: 12px;
      left: 10px;
    }
  }
  #buyers_next {
    background: #e9e9e9;
    padding: 9px 20px 9px 13px !important;
    border-radius: 0 5px 5px 0 !important;
    box-shadow: inset 0 -2px rgba(0, 0, 0, .1);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #666666;
      bottom: 12px;
      right: 10px;
    }
  }
}
table.dataTable thead .sorting_asc {
  background-image: url(../res/sort_asc.png) !important;
}
table.dataTable thead .sorting_desc {
  background-image: url(../res/sort_desc.png) !important;
}
table.dataTable thead .sorting {
  background-image: url(../res/sort_both.png) !important;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: white !important;
}
table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
  background-color: #eaf2f6 !important;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background-color: inherit !important;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: inherit !important;
}
table.dataTable.order-column tbody tr>.sorting_1, table.dataTable.order-column tbody tr>.sorting_2, table.dataTable.order-column tbody tr>.sorting_3, table.dataTable.display tbody tr>.sorting_1, table.dataTable.display tbody tr>.sorting_2, table.dataTable.display tbody tr>.sorting_3 {
  background-color: inherit !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: inherit !important;
}








@media only screen and (max-width: 767px) {
  .tabs {
    height: 750px;
  }
  .tabs>.tab-content .tab .content {
    box-shadow: none;
    left:0;
    .tab-main {
      padding: 10px;
    }
    .tab-header {
      padding-left: 10px;
      box-shadow: none;
    }
  }
  .tabs>.tab-content .tab .tab-label {
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.36);
  }
  .tabs>.tab-content .tab [type=radio]:checked+label {
    z-index: 0;
  }
  .mobile-menu { 
    display: block !important;
  }
  header {
    text-align: center;
    padding: 10px 0;
    .logo {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      left: 0
    }
    .inner {
      margin-top: 20px;
    }
  }
  #buyers_length, #page-count {
    display: none !important;
  }
  .dataTables_info {
    padding-top: 14px !important;
    margin-bottom: 28px;
  }
  .dataTables_paginate {
    top: 7px;
  }
  .dataTable thead th {
    font-size: 12px!important;
  }
  .green-button {
    position: relative !important;
    margin-top: 10px;
    display: block;
  }
  .tab1 .input-row {
    .input {
      display: block;
      margin-right: 0;
      input {
        width: 100%;
      }
    }
  }
  .tabs>.tab-content .tab .content .tab-main {
    padding-top: 10px;
  }
  .dataTable {
    tbody {
      td {
        padding: 8px 10px !important;
      }
    }
  }
}